*{
    margin: 0;
    padding: 0;
}


/*-------------header----------------- */

#header{
    padding: 2.5rem 0 2.5rem 0;
    

    background-color: white;
    /*background-color: red;*/
    font-family: 'Nanum Gothic', sans-serif;
    position: fixed;

    width: 100vw;
   
    overflow: hidden;  
    font-size: 1rem;
    
    box-shadow: inset 0px 10px 10px -5px #ebf0ee;
   
   
}

.fa-bity{
    font-size: 2rem;    
}

.fa-bity :hover{
    color: #c96e6d;
}


#nav-1 a {
    text-decoration: none;
    color: #000000;
}

#nav-1 a:hover{
    color: #c96e6d;
}

#nav-1{
    padding: 0 20% 0 20%;
}

#nav-2{
    padding: 0 15% 0 0%;
}  

#nav-2 a {
    text-decoration: none;
    color: #000000;
}

#nav-2 a:hover{
    color:#c96e6d;
}




/*------------- Background picture with parallax effect----------------- */
.parallax{

    /* height: 40%vh; */
    background-image: url(image/daniel-kuberek-owFnx5d1yoc-unsplash.jpg);

    min-height: 90vh;

    /* width: 100vw; */
    

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*-------------About Me section----------------- */

#About-Me{
   
    background-color: #faf9f7;
    /* width: 100vw; */
}

#About-Me #Equity{
    padding: 3rem 0 1rem 15rem;
    font-family: 'Nanum Gothic', sans-serif;
    /* color: #e86766; */
    color: #c96a69;
    
    font-size: 1rem;
    
}

#About-Me >p{

    padding: 0 15rem 7rem 16rem;
    
    font-size: 3.3rem;
    color: #303333;
    
    
}


/*-------------Business-Areas-1 sub-section of "About Me section" with CSS grid----------------- */
#About-Me #Business-Areas-1{
    padding: 5rem 13rem 0 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

#Business-Areas-1 #ind-1{
    background-color: #27323d;  
    height: 48vh;
    width: 24vw;
   }

#ind-1 > div > :nth-child(1){
    color:#85898c;
    padding: 2rem 10rem 1rem 3rem;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

#ind-1 > div > :nth-child(2){
    color:#ffffff;
    font-size: 3.4rem;
    padding: 1rem 6rem 1rem 3rem;
}

#Business-Areas-1 #ind-2{
    background-color:#1c222b;
    height: 48vh;
    width: 24vw;
   }

#ind-2 > div > :nth-child(1){
    color:#85898c;
    padding: 2rem 10rem 1rem 3rem;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

#ind-2 > div > :nth-child(2){
    color:#ffffff;
    font-size: 3.4rem;
    padding: 1rem 4rem 1rem 3rem;
    /* text-align: left; */
}


#Business-Areas-1 #ind-3{
    background-color: #27323d;
    height: 48vh;
    width: 24vw;
    /* height: 50px; */
}

#ind-3 > div > :nth-child(1){
    color:#85898c;
    padding: 2rem 10rem 1rem 3rem;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

#ind-3 > div > :nth-child(2){
    color:#ffffff;
    font-size: 3.4rem;
    padding: 1rem 5rem 1rem 3rem;
}


/*-------------Business-Areas-2 sub-section of  section of "About Me section" with CSS grid----------------- */
#About-Me #Business-Areas-2{
    padding: 0rem 13rem 12rem 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

#Business-Areas-2 #ind-4{
    background-color: #1c222b;
    height: 48vh;
    width: 24vw;
  }

#ind-4 > div > :nth-child(1){
    color:#85898c;
    padding: 2rem 10rem 1rem 3rem;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    }

#ind-4 > div > :nth-child(2){
    color:#ffffff;
    font-size: 3.4rem;
    padding: 1rem 3.6rem 1rem 3rem;
}

#Business-Areas-2 #ind-5{
    background-color: #27323d;  
    height: 48vh;
    width: 24vw;
    

}

#ind-5 > div > :nth-child(1){
    color:#85898c;
    padding: 2rem 10rem 1rem 3rem;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

#ind-5 > div > :nth-child(2){
    color:#ffffff;
    font-size: 3.4rem;
    padding: 1rem 3.4rem 1rem 3rem;
    /* text-align: left; */
}

#Business-Areas-2 #ind-6{
    background-color: #1c222b;
    height: 48vh;
    width: 24vw;
    /* height: 50px; */
}

#ind-6 > div > :nth-child(1){
    color:#85898c;
    padding: 2rem 10rem 1rem 3rem;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

#ind-6 > div > :nth-child(2){
    color:#ffffff;
    font-size: 3.4rem;
    padding: 1rem 11.5rem 1rem 3rem;
}

#number{
    color: #c46b6a;
}



/*-------------Key-Business-Numbers section with CSS grid----------------- */
#Key-Business-Numbers{
    height: 80vh;;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15%;
   
    background-color: #c96a69;
    padding: 15rem 30rem 0 16rem;
}

  #Partners{
     width: 9vw;
 }
#Partners p:nth-child(1) {
    font-size: 7.5rem;
    font-style: italic;
    color:#ffffff;
 }
    
#Partners p:nth-child(2){

    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    color:#ffffff;
} 

 #Partners p:nth-child(3) {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
    
#Employees{
    width: 9vw;
}

#Employees p:nth-child(1) {
    color:#ffffff;
    font-size: 7.5rem;
    font-style: italic;
    
}
#Employees p:nth-child(2){
    
    color:#ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
}

#Employees p:nth-child(3) {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
} 

#Investments{
    width: 9vw;
}

 #Investments p:nth-child(1) {
    color:#ffffff;
    font-size: 7.5rem;
    font-style: italic;
} 

#Investments p:nth-child(2){
    color:#ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
}

#Investments p:nth-child(3) {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
} 


#Success{
    width: 9vw;
}
 #Success p:nth-child(1) {
    color:#ffffff;
    font-size: 7.5rem;
    font-style: italic;
    } 

#Success p:nth-child(2){
    color:#ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
} 

 #Success p:nth-child(3) {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
} 



/*-------------Second image with parallax effect----------------- */
.parallax-1{

    /* height: 40%vh; */
    background-image: url(image/pat-kay-3d7DTnuNj6E-unsplash.jpg);

    min-height: 100vh;

    

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Section-Recent News */
#Recent-News > p{
    padding: 6rem 2rem 5rem 18rem;
    font-size: 3.5rem;
    color: #2e2c2c;
}




/*-------------"News-image" sub-section of Section "Recent News " with CSS grid */
#News-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 2rem 14rem 7rem 15rem;
    font-family: 'Yantramanav', sans-serif; 
    color: #302f2d;
    
}

#London-City-Trading > figure > img {
    width: 21vw;
    height: 25vh;
}

#London-CityTrading-News{
    padding: 1rem 0 1rem 2rem;
    width: 20vw;
    
}

.news-link-1{
   font-size: 1.2rem;
    text-decoration: none;
     color: #545453;
}

#London-CityTrading-News a:hover{
    color: #c96e6d;

}

#London-CityTrading-News  p:nth-child(2){
    /* color: #d0d3d6; */
    color: #cfcfcf;

    font-family: 'Yantramanav', sans-serif;
    /* font-size: .1rem; */
}

#London-CityTrading-News  p:nth-child(3){
    color: #b0aeae;
    
}

#Asian-Markets > figure > img {
    width: 21vw;
    height: 25vh;
}

#Asian-Markets-News{
    padding: 1rem 0 1rem 2rem;
    width: 20vw;
    
}
.news-link-2{
    font-size: 1.2rem;
     text-decoration: none;
     /* color: #302f2d;  */
      /* color:#302f2e;  */
      color: #545453;
 }
 
 #Asian-Markets-News a:hover{
    color: #c96e6d;

}

#Asian-Markets-News  p:nth-child(2){
    /* color: #d0d3d6; */
    color: #cfcfcf;

    font-family: 'Yantramanav', sans-serif;
    /* font-size: .1rem; */
}

#Asian-Markets-News  p:nth-child(3){
    color: #b0aeae;
}

#Choosing-Markets-Consultant > figure > img {
    width: 21vw;
    height: 25vh;
}

#Market-Consultant-guideline{
    padding: 1rem 0 1rem 2rem;
    width: 20vw;
    /* font-size: 1.5rem; */
    
    /* text-align:center; */
}

.news-link-3{
    font-size: 1.2rem;
     text-decoration: none;
     /* color: #302f2d;  */
      /* color:#302f2e;  */
      color: #545453;
 }
 
 #Market-Consultant-guideline a:hover{
    color: #c96e6d;

}
#Market-Consultant-guideline  p:nth-child(2){
    /* color: #d0d3d6; */
    color: #cfcfcf;

    font-family: 'Yantramanav', sans-serif;
    /* font-size: .1rem; */
}

#Market-Consultant-guideline  p:nth-child(3){
    color: #b0aeae;
}




.fa-heart {
    color:#fa0c07;
    font-size: 1rem;
}



/*---------------- Section "Contact and Message" with CSS grid---------- */
#Contact-And-Message{

background-color: #1c222b;

height: 57vh;
font-family: 'Nanum Gothic', sans-serif;
color:white;
font-size: 0.95rem;
display: grid;
grid-template-columns: 1fr 1fr;

padding: 4rem 25rem 0 15rem;
}

#address-and-contact > .firm-name-address{
    color:white;
    text-decoration: none;
  
}

.fa-linkedin-in{
    color:white; 
    font-size: 1rem;
}

.fa-facebook-f{
    color:white; 
    font-size: 1rem;
}

.fa-twitter{
    color:white; 
    font-size: 1rem;
}

.fa-google-plus-g {
    color:white; 
    font-size: 1rem;
}



#Email-And-Message {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #1c222b;
   
}

#Email-And-Message  #Email {
    background-color: #1c222b;
    border: 2px solid #4b4d4f; 
    width: 11vw;
    height: 5vh;
    font-size: 1rem;
    color: #85898c;
}

#Email-And-Message  #Subject {
    background-color: #1c222b;
    border: 2px solid #4b4d4f; 
    width: 11vw;
    height: 5vh;
    font-size: 1rem;
    color: #85898c;
    
}

textarea{
    font-family: 'Nanum Gothic', sans-serif;
    width: 20.7vw;
    height: 22vh;
    padding: 2% 10% 0% 0%;
    font-size: 1rem;
    background-color: #1c222b;
    border: 2px solid #4b4d4f;
    color: #85898c;
    /* color:white; */
    resize: none;

}

  .button{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    background-color: #27323d;  
    width: 24vw;
    height: 5vh;;
    border: none;
    color:white;
    font-size: 1rem;

  }


  /* -------------footer------------ */
  footer{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: .8rem;
    padding: 2% 0% 2% 15%;
    color:white;
    background-color: #27323d; 
    /* width:100vw; */
  }


  /* #for-Contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5rem 15rem 3rem 15rem;
  } */
/* 
  #Message-2-Customer > p:nth-child(1){ 
      font-size: 3rem;
      padding: 0 0 3rem 0;

  }

  #Message-2-Customer > p:nth-child(2){ 
    
    font-family: 'Nanum Gothic', sans-serif;  
    color:#c9c1c1;

} */



/* #MessageArea{
    font-family: 'Nanum Gothic', sans-serif;
    width: 20.7vw;
    height: 22vh;
    padding: 2% 10% 0% 0%;
    font-size: 1rem;
    background-color: white;
    border: 2px solid #dedfe1;
    color: #85898c;
   
    resize: none;

} */


/*----------- CSS media query for devices with max-width:1024px and below------- */

@media(max-width:1024px)
{
    #nav-1{
        padding: 0 0 0 10%;
           
    }
    #nav-2{
        padding: 0 3% 0 18%;
    }

    #About-Me #Business-Areas-1{
        padding: 5rem 0 0 0;
        font-size: 1.5rem;
    }
    
    #Business-Areas-1 #ind-1{
       padding: 0 0 0 0;
       width: 33.33vw;
       /* height: 25vh; */
    }
    #Business-Areas-1 #ind-2{
        padding: 0 0 0 0;
        width: 33.33vw;
        /* height: 25vh; */
    }
    #Business-Areas-1 #ind-3{
        padding: 0 0 0 0;
        width: 33.33vw;
        /* height: 25vh; */
                
    }
  
    #About-Me #Business-Areas-2{
        /* padding: 0 10rem 0 9rem; */
        padding: 0rem 0rem 12rem 0rem;
        font-size: 1.5rem;
        
    }
  
  
    #Business-Areas-2 #ind-4{
        padding: 0 0 0 0;
       width: 33.33vw;
       /* height: 25vh; */
    }
    #Business-Areas-2 #ind-5{
        padding: 0 0 0 0;
       width: 33.33vw;
       /* height: 25vh; */
    }
    #Business-Areas-2 #ind-6{
        padding: 0 0 0 0;
       width: 33.33vw;
       /* height: 25vh; */
    }

    
    #Key-Business-Numbers{
    height: 90vh;;
    /* color: #ffffff; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    column-gap: 15%;
   
    /* background-color: #c96a69; */
    padding: 15rem 10rem 0 5rem;
}


    #Recent-News > p{
        padding: 6rem 2rem 5rem 14rem;
        font-size: 3rem;

    }
    #News-image {
        padding: 2rem 10rem 7rem 8rem;
    }

    #London-CityTrading-News{
        width: 12rem;
        padding-left: 0rem;
    }

    #Asian-Markets-News{
        width: 12rem;
        padding-left: 0rem;
    }

    #Market-Consultant-guideline{
        width: 12rem;
        padding-left: 0rem;
    }

}


/*----------- CSS media query for devices with max-width:768px and below------- */

@media(max-width:768px){

    #nav-1{
        padding-left: 3rem;
    }
    
    #nav-2{
        padding-right: 2rem;
    }  
    
    .parallax{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

     #About-Me #Equity{
        padding: 2rem 0 2rem 0;
       
        font-size: 1rem;
    }

    #About-Me >p{

        padding: 0 0 2rem 0;
       font-size: 3.3rem;
       
    }

    #About-Me #Business-Areas-1{
        grid-template-columns: 1fr;
        padding: 0 0 0 0;
    }

    #Business-Areas-1 #ind-1{
        width: 100vw;
        height: 40vh;
    }
    
    #ind-1 > div > :nth-child(1){
        
        padding: 2rem 10rem 2rem 1rem;
   }
    
    #ind-1 > div > :nth-child(2){
        
        padding: 1rem 6rem 1rem 1rem;
    }
        
    #Business-Areas-1 #ind-2{
        width: 100vw;
        height: 40vh;
             
    }
    
    #ind-2 > div > :nth-child(1){
        padding: 2rem 10rem 2rem 1rem;
   }
    
    #ind-2 > div > :nth-child(2){
        
         padding: 1rem 6rem 1rem 1rem;
    }


    #Business-Areas-1 #ind-3{
        width: 100vw;
        height: 40vh;
             
    }
    
    #ind-3 > div > :nth-child(1){
        color:#85898c;
        padding: 2rem 10rem 2rem 1rem;
   }
    
    #ind-3 > div > :nth-child(2){
        
        padding: 1rem 6rem 1rem 1rem;
    }



    #About-Me #Business-Areas-2{
        grid-template-columns: 1fr;
        padding: 0 0 0 0;
    }

    #Business-Areas-2 #ind-4{
        width: 100vw;
        height: 40vh;
             
    }
    
    #ind-4 > div > :nth-child(1){
        
        padding: 2rem 10rem 2rem 1rem;
   }
    
    #ind-4 > div > :nth-child(2){
        
        padding: 1rem 6rem 1rem 1rem;
    }


    #About-Me #Business-Areas-2{
        grid-template-columns: 1fr;
        padding: 0 0 0 0;
    }

    #Business-Areas-2 #ind-5{
        width: 100vw;
        height: 40vh;
             
    }
    
    #ind-5 > div > :nth-child(1){
        
        padding: 2rem 10rem 2rem 1rem;
   }
    
    #ind-5 > div > :nth-child(2){
        
        padding: 1rem 6rem 1rem 1rem;
    }


    #Business-Areas-2 #ind-6{
        width: 100vw;
        height: 40vh;
             
    }
    
    #ind-6 > div > :nth-child(1){
        
        padding: 2rem 10rem 2rem 1rem;
   }
    
    #ind-6 > div > :nth-child(2){
        
        padding: 1rem 6rem 1rem 1rem;
    }



    #Key-Business-Numbers{
        grid-template-columns: 1fr;
        padding: 0 0 0 0;
           
    }

    #Partners{
        width: 8vw;
        padding: 0 10rem 0 10rem;
    }
   #Partners p:nth-child(1) {
       font-size: 5rem;
    }
       
    #Partners p:nth-child(2){
        
        font-size: .9rem;
        font-weight: bold;
                
    } 
    
     #Partners p:nth-child(3) {
        font-size: .7rem;
       
    }


    #Employees{
        width: 8vw;
        padding: 0 10rem 0 10rem;
    }
   #Employees p:nth-child(1) {
       font-size: 5rem;
    }

    #Employees p:nth-child(2){

        
        font-size: .9rem;
        font-weight: bold;
                
    } 
    
     #Employees p:nth-child(3) {
        font-size: .7rem;
       
    }


    #Investments{
        width: 8vw;
        padding: 0 10rem 0 10rem;
    }
   #Investments p:nth-child(1) {
       font-size: 5rem;
    }

    #Investments p:nth-child(2){

        
        font-size: .9rem;
        font-weight: bold;
                
    } 
    
     #Investments p:nth-child(3) {
        font-size: .7rem;
       
    }

    #Success{
        width: 8vw;
        /* padding: 0 10rem 0 10rem; */
    }
   #Success p:nth-child(1) {
       font-size: 5rem;
       padding: 0 5rem 0 6rem;
    }
    
    #Success p:nth-child(2){

        
        font-size: .9rem;
        font-weight: bold;
        padding: 0 10rem 0 10rem;
                
    } 
    
     #Success p:nth-child(3) {
        font-size: .7rem;
        padding: 0 10rem 0 10rem;
       
    }
   
   
     .parallax-1{

        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #Recent-News > p{
        padding: 2rem 10rem 4rem 4rem;
        font-size: 2.5rem;
        /* color: #2e2c2c; */
    }
   
    
#News-image {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: none;
    padding: 2rem 0 0 0rem;
        
}

#London-City-Trading > figure > img {
    width: 100vw;
    height: 25vh;
}

#London-CityTrading-News{
    padding: 1rem 0 1rem 2rem;
    width: 70vw;
   
}


#Asian-Markets > figure > img {
    width: 100vw;
    height: 25vh;
}

#Asian-Markets-News{
    padding: 1rem 0 1rem 2rem;
    width: 70vw;
   
}

#Choosing-Markets-Consultant > figure > img {
    width: 100vw;
    height: 25vh;
}

#Market-Consultant-guideline{
    padding: 1rem 0 1rem 2rem;
    width: 70vw;
}
   

#Contact-And-Message{

    height: 80vh;
    /* font-family: 'Nanum Gothic', sans-serif; */
    color:white;
    font-size: 0.50rem;
    
    grid-template-columns: 1fr;
    /* column-gap: 0%; */
    padding: 4rem 5rem 0 5rem;
    }
     
    
}


/* ----------------Contact Page---------- */
#for-Contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 15rem 3rem 15rem;
}

#Message-2-Customer > p:nth-child(1){ 
    font-size: 3rem;
    padding: 0 0 3rem 0;

}

#Message-2-Customer > p:nth-child(2){ 
  /* font-size: 3rem; */
  font-family: 'Nanum Gothic', sans-serif;  
  color:#c9c1c1;

}

#MessageArea{
  font-family: 'Nanum Gothic', sans-serif;
  width: 20.7vw;
  height: 22vh;
  padding: 2% 10% 0% 0%;
  font-size: 1rem;
  background-color: white;
  border: 2px solid #dedfe1;
  color: #85898c;
  /* color:white; */
  resize: none;

}

.button{
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  background-color: #27323d;  
  width: 24vw;
  height: 5vh;;
  border: none;
  color:white;
  font-size: 1rem;

}